<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.shopclues.com/images/banners/2024/Apr/18/RefurbSmartphones_Web_18Apr24.jpg" class="d-block w-100" alt="..." style="height: 400px;">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopclues.com/images/banners/2024/June/18/Rocket_Web_18June24.jpg" class="d-block w-100" alt="..." style="height: 400px;">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopclues.com/images/banners/2024/May/15/Automotive_Web_15May24.jpg" class="d-block w-100" alt="..." style="height: 400px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
