<p style=" text-align: center; font-style: italic; background-color: rgb(61, 199, 199);"><strong>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Shopclues.svg/220px-Shopclues.svg.png" class="img-fluid" alt="..."><br>
Type of site  :	E-commerce<br>
Available in  :	English<br>
Founded	:July 2011; 13 years ago<br>
Headquarters  :	Gurgaon, Haryana, India<br>
Area served	: India<br>
Founder(s) : Sanjay Sethi<br>
Industry :Internet<br>
Services : Online shopping<br>
Revenue	Decrease : ₹209.46 crore (US$25 million) (2019)[1]<br>
URL	: www.shopclues.com<br>
Current status :	Active<br></strong></p>
<app-accordion></app-accordion>